.main_bar{
  float: right;
    width: calc(80% - 60px);
    background-color: white;
    margin-right: 50px;
    margin-top: 20px;
    padding: 10px;
}
h3{
    color: #707070;
}
.round_corner_btn_in_table{
  background-color: #5EADCC;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border-radius: 6px;
  cursor: pointer;
}
.bg_red{
    background-color: #E00B0B;
}
.bg_blue{
    background-color: #00B7FF;
}
.select_html{
  width: calc(70% - 50px);
  border-radius: 5px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #D9FFF0;
  color: black;
}
.banner_imgsed{
  width: 500px;
  height: 250px;
  background-position: center;
  background-size: cover;
margin: 0 auto ;
margin-bottom: 20px;
text-align: center;
transition: 0.5s;
}
.hidden_hover_button_banner{
  opacity: 0;
  transition: 0.5s;
}
.banner_imgsed:hover {
  transform: scale(1.1);
}
.banner_imgsed:hover .hidden_hover_button_banner{
  opacity: 1;
    filter: blur(0px);
}
