*{
font-family: sans-serif;
}
html,body{
  background: #F7F7F7;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  height: 100%;
}
.Main_Nav{
  padding: 10px;
  float: left;
  width: 100%;
  background-color: white;
  border-bottom: solid 1px #D6D6D6;
}
.Nav_Left_txt{
  margin: 10px;
  float: left;
}
.Nav_Img{
  float: right;
  margin-top: 3px;
  margin-right: 15px;
  width: 30px;
}
.Heading_txt_feild{
  margin-top: 50px;
  text-align: center;
  color: #767676;
}
.Featured_Products{
    color: #767676;
}
.centered_txt{
  text-align: center;
}
.sign_in_head{
  font-size: 40px;
}
.login_page{
  max-width: 500px;
  margin: 0 auto;
  color: #767676;
  margin-top: 150px;
}
.input_Style_1{
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #CFCFCF;
border-radius: 4px;
}
.form{
  margin: 10px;
}
.signin_btn {
  background-color: #F0EDED;
  border: none;
  color: white;
  padding: 5px 5px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 50%;
  position: relative;
  margin-left: -50px;
  top: 4px;
}
.Login_msg{
  background-color: #FA8484;
  text-align: center;
  color: white;
  padding: 30px 10px;
  width: 340px;
  margin: 0 auto;
  border-radius: 5px;
}
.water_mark{
  position: fixed;
  bottom: 0px;
padding: 10px 20px;
background-color: #181818;
color: white;
border-radius: 0px 20px 20px 0px;
}
.bar{
  width: 35px;
height: 3px;
background-color: #767676;
margin: 6px 0;
border-radius: 10px;
}
.Hanburger_icon{
  float:left;
  margin-left:10px;
  cursor: pointer;
}
.Card_dropdown{
  position: absolute;
  width: calc(80% - 50px);
  margin-left: 10%;
  top: -2000px;
  min-height: calc(90% - 100px);
  background-color: white;
  z-index: 5;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    transition: 1s;
}
.Card_dropdown_small{
  position: absolute;
  width: calc(50% - 50px);
  margin-left: 30%;
  min-width: 550px;
  top: -2000px;
  background-color: white;
  z-index: 5;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    transition: 1s;
}

.btn_style_2{
  background-color: #5EADCC;
  border: none;
  color: white;
  padding: 6px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
.left{
  float: left;
}
.inputfile{
  opacity: 0;
  position: absolute;
}

.Nav_head_right{
    float: right;
      margin-right: 10px;
      cursor: pointer;
}
.head{
  font-size: 18px;
  font-weight: 600;
}
.sub_text{
  font-size: 13px;
}
#side_navbar{
  height: 100%;
}
.side_navbar{
  float: left;
  width: calc(20% - 60px);
  background-color: white;
  height: 100%;
  padding: 10px;
color: #9E9E9E;
border-right: solid 1px #D6D6D6;
transition: 0.5s;
}
.nav_txt{
  padding-top: 5px;
  color: #707070;
}
.side_nav_bar_option{
  color: black;
    cursor: pointer;
}
.txt_option_side_nav{
  margin-left: 10px;
  position: relative;
  top:-5px;
  cursor: pointer;
}
.none_display{
  display: none;
}
.inner_options{
  padding: 10px;
}

.display_on{
  display: block;
  animation-duration: 2s;
  animation-name: inner_option_showing;
}
@keyframes inner_option_showing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menu_icon_felid{
  margin-top: -7px;
  margin-right: 10px;
  cursor: pointer;
}
.right{
  float: right;
}
.float_covering{
  float: left;
  width: 100%;
}
.table{
  width: 100%;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.head_row{
  background: #64E8CA;
}
tr,td{
  padding: 10px;
}
.model{
  position: absolute;
  width: calc(80% - 50px);
  margin-left: 10%;
  top: -2000px;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  box-shadow:2px 2px 10px grey;
  transition: 1s;
}
.form_css{
  margin: 10px;
  width: calc(50% - 50px);
}
.input_txt{
  margin-top: 20px;
  width: 100px;
}
.Profile{
  margin-top: 30px;
  margin-right: 10px;
  right: 30px;
  position: absolute;
  background-color: white;
  padding: 10px;
  min-width: 100px;
    box-shadow:2px 2px 10px grey;
      border-radius: 5px;
      animation-duration: 1s;
      animation-name: profile_showing;
}
.Profile_txt{
  width:100%;
  padding: 10px;
}
@keyframes profile_showing {
  from {
    opacity: 0;
    margin-top: 0px;
  }
  to {
    opacity: 1;
      margin-top: 30px;
  }
}
.head_tag_side_bar{
  color: #929292;
}
.box_full{
  padding: 10px;
  margin: 10px;
  border: solid 1px #E8E6E6;
}
